<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="Console" layout="${longdate} ${message} ${exception:format=tostring}" />
			<target name="debug" xsi:type="Debugger" layout="${longdate} ${message} ${exception:format=tostring}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="console" />
			<logger name="MassTransit.Cluster.*" minlevel="Trace" writeTo="console" />
			<logger name="*" minlevel="Trace" writeTo="debug"/>
			<logger name="MassTransit.Cluster.*" minlevel="Trace" writeTo="debug" />
		</rules>
	</nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
